body {
    height: 2000px;
    padding: 110px;
}

header > img {
    margin-top: 15px;
    margin-left: 10px;
    position: fixed;
    height: 60px;
    color: rgb(242, 255, 0);
    background-color: rgb(232, 248, 6);
    border-radius: 5px;
    

}


#menu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100%;
    background-color: #333;
}

header > h1 {
    position: fixed;
    margin-left: 80px;
    font-size: 1.8em;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
    color: antiquewhite;
    
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 50%;
    margin: 10px;
}

li {
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 200px;
}

a {
    font-size: 1.3em;
    font-weight: bold;
    color: floralwhite;
    letter-spacing: 2px;
}

.search {
    position: fixed;
    margin-left: 1220px;
    top: 20px;
    height: 50px;
    width: 280px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 5px #333;
    overflow: hidden;
}

.search.active {
    width: 50px;
}

.search .icon {
    position: fixed;
    display: flex;
    top: 20px;
    left: 0;
    margin-left: 1220px;
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.search .icon::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border: 3px solid #287dfc;
    border-radius: 50%;
    transform: translate(-4px, -4px);
}

.search .icon::after {
    content: '';
    position: flex;
    height: 12px;
    width: 3px;
    background: #287dfc;
    transform: translate(6px, 6px) rotate(315deg);
}

.search .input {
    position: fixed;
    width: 300px;
    height: 60px;
    top: 15px;
    left: 1220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input {
    position: absolute;
    top: 9px;
    height: 60%;
    width: 60%;
    border: none;
    outline: none;
    font-size: 1em;
}

.clear {
    position: absolute;
    top: 40%;
    transform: translate(-50%);
    height: 15px;
    width: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 1px;
    background: #999;
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: '';
    height: 15px;
    width: 1px;
    background: #999;
    transform: rotate(315deg);
}

menu {
    background-color: #333;
    height: 70px;
    
}

menu > #esquerda {
   background-color: aqua;
   position: fixed;
   top: 20pc;
}

menu > #direita {
    background-color: aqua;
    margin-left: 1130px;
}
menu > h1 {
    position: fixed;
    margin-left: 200px;
}